<%= render "layouts/error_message", model:@book %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "layouts/user_info", user:@user %>
      <%= render "layouts/new_book", book:@book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h1>Book detail</h1>
      <table class="table table_striped">
          <tr>
            <td class="text-center">
              <%= attachment_image_tag @book_detail.user, :profile_image, fallback: "no_image.jpg", size: "40x40"  %>
              <p><%= link_to @book_detail.user.name, user_path(@book_detail.user) %></p>
            </td>
            <td><%= link_to @book_detail.title, book_path(@book_detail) %></td>
            <td><%= @book_detail.body %></td>
            <% if @book_detail.favorited_by?(current_user) %>
              <td><%= link_to "♥#{@book_detail.favorites.count}", book_favorites_path(@book_detail), class: "text-danger", method: :delete %></td>
            <% else %>
              <td><%= link_to "♥︎#{@book_detail.favorites.count}", book_favorites_path(@book_detail), class: "text-blue", method: :post %></td>
            <% end %>
            <td><%= "コメント数：#{@book_detail.book_comments.count}" %></td>
            <% if @book_detail.user == current_user %>
              <td><%= link_to "Edit", edit_book_path(@book_detail), class: "btn btn-sm btn-success" %></td>
              <td><%= link_to "Destroy", book_path(@book_detail), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-sm btn-danger" %></td>
            <% end %>
          </tr>
      </table>
      <div class="form-group">
        <%= form_with(model: [@book_detail, @book_comment], local: true) do |f| %>
          <%= f.text_area :comment, rows: "5", class: "form-control d-block" %>
          <%= f.submit "送信", class: "mt-2" %>
        <% end %>
      </div>
    </div>
  </div>
</div>