<%= render "layouts/error_message", model:@book %>
<%= render "layouts/user_info", user:@user %>
<%= render "layouts/new_book", book:@book %>

<h1>Book detail</h1>
<table>
    <tr>
      <td><%= attachment_image_tag @bookdetail.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"  %>
        <p><%= link_to @bookdetail.user.name, user_path(@bookdetail.user) %></p>
      </td>
      <td><%= link_to @bookdetail.title, book_path(@bookdetail) %></td>
      <td><%= @bookdetail.body %></td>
      <% if @bookdetail.user == current_user %>
        <td><%= link_to "Edit", edit_book_path(@bookdetail) %></td>
        <td><%= link_to "Destroy", book_path(@bookdetail), method: :delete %></td>
      <% end %>
    </tr>
</table>